{% extends 'home.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="sellerlogin1">
<br><br><div class="sellersignup">
<form>
	<center><h1>Seller Account</h1><br></center>
	<label>USerName</label><br>
	<input type="" name=""><br><br>
	<label>Email Id</label><br>
	<input type="" name=""><br><br>
	<label>Mobile Number</label>
	<input type="" name=""><br><br>
	<label>PassWord</label><br>
	<input type="" name=""><br><br>
	<center><button>Create a Seller Account</button><br></center><br>
	<h5>If you already have a seller account <a href="/sell">click here</a></h5>
</form>
</div></div>
{% endblock %}