{% extends 'home.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<div class="sellerlogin1"><br><br><div class="sellerlogin">
<form>
	<center><h1>Seller Login</h1><br></center>

	<label>USerName</label><br>
	<input type="" name=""><br><br>
	<label>PassWord</label><br>
	<input type="" name=""><br><br>
	<center><button>Login</button><br></center><br>
	<h5>If you have not created a seller account <a href="/sellersignup">click here</a></h5>
</form>
</div></div>
{% endblock %}